<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      
      >
  <extensions>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>

  <!-- logs/LeanD.log -->
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="full"
            fileName="logs/log.log"
            
            layout="${longdate:universalTime=true} [${pad:padding=3:inner=${threadid}}] ${pad:padding=5:inner=${level:uppercase=true}} [${mdlc:item=IID}] - ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5} - ${event-properties:item=EventId_Id} ${event-properties:item=EventId_Name:uppercase=true} | ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}]"

            ArchiveNumbering="Date"
            ArchiveEvery="Day"
           
            AutoFlush="true"
            ArchiveDateFormat="yyyy-MM-dd_HH_mm_ss"
            ArchiveOldFileOnStartup="true"

            EnableArchiveFileCompression="true" 
            
            ConcurrentWrites="true"
            KeepFileOpen="false"

            />    
    <target xsi:type="File" name="errors"
            fileName="logs/logErrors.log"
            
            layout="${longdate:universalTime=true} [${pad:padding=3:inner=${threadid}}] ${pad:padding=5:inner=${level:uppercase=true}} [${mdlc:item=IID}] - ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=5} - ${event-properties:item=EventId_Id} ${event-properties:item=EventId_Name:uppercase=true} | ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}]"

            ArchiveNumbering="Date"
            ArchiveEvery="Day"
           
            AutoFlush="true"
            ArchiveDateFormat="yyyy-MM-dd_HH_mm_ss"
            ArchiveOldFileOnStartup="true"

            EnableArchiveFileCompression="true" 
            
            ConcurrentWrites="true"
            KeepFileOpen="false"

    />    
  

    <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
      <target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="" >
        <property name="ThreadId" value="${threadid}" as="number" />
        <property name="MachineName" value="${machinename}" />
        <property name="IID" value="${mdlc:item=IID}" />
        <property name="LOGGER" value="${logger:shortName=false}" />
        <property name="EventId_Id" value="${event-properties:item=EventId_Id}" />
        <property name="EventId_Name" value="${event-properties:item=EventId_Name}" />
        <property name="ndlc" value="${ndlc:separator= => }" />
        <property name="SourceInfo" value="${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}" />
        <property name="Application" value="Tama.Gui.Calibration2" />
        <property name="Environment" value="Debug" />
      </target>
    </target>


    <target name="seqremote" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
      <target xsi:type="Seq" serverUrl="http://192.168.3.161:90" apiKey="" >
        <property name="ThreadId" value="${threadid}" as="number" />
        <property name="MachineName" value="${machinename}" />
        <property name="IID" value="${mdlc:item=IID}" />
        <property name="LOGGER" value="${logger:shortName=false}" />
        <property name="EventId_Id" value="${event-properties:item=EventId_Id}" />
        <property name="EventId_Name" value="${event-properties:item=EventId_Name}" />
        <property name="ndlc" value="${ndlc:separator= => }" />
        <property name="SourceInfo" value="${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}" />
        <property name="Application" value="Tama.Gui.Calibration2" />
        <property name="Environment" value="Debug" />
      </target>
    </target>

  </targets>






  <rules>


    
    <logger name="*" minlevel="Trace" writeTo="full" />
    <logger name="*" minlevel="Trace" writeTo="errors" />
    <logger name="*" minlevel="Trace" writeTo="seq" />
    <logger name="*" minlevel="Info" writeTo="seqremote" />

    
    


  </rules>
</nlog>